---
---

<div
class="m-4 p-4 text-center bg-white border border-green-200 shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
<h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">
  Soluciones en Electricidad y Comunicación
</h5>
<p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">
  Distribuimos equipos y componentes de marcas líderes como Siemens, Schneider Electric, Rockwell Automation, Mitsubishi Electric y ABB.

</p>
</div>