---
const marcas = [
    "https://cd-solec.com/img/logos/CD-SOLEC_Horizontal.png",
    "https://cd-solec.com/img/logos/CD-SOLEC_Lema.png",
    "https://cd-solec.com/storage/societe/1/logos/ABB.jpg",
    "https://cd-solec.com/storage/societe/2/logos/Emerson.jpg",
    "https://cd-solec.com/storage/societe/3/logos/Fuji_Electric.jpg",
    "https://cd-solec.com/storage/societe/4/logos/Mitsubishi_Electric.jpg",
    "https://cd-solec.com/storage/societe/5/logos/Philips.jpg",
    "https://cd-solec.com/storage/societe/6/logos/Phoenix_Contact.jpg",
    "https://cd-solec.com/storage/societe/7/logos/Rockwell_Automation.jpg",
    "https://cd-solec.com/storage/societe/8/logos/Schneider.jpg",
    "https://cd-solec.com/storage/societe/9/logos/Siemens.jpg",
    "https://cd-solec.com/storage/societe/28/logos/imt.jpeg",
    "https://cd-solec.com/storage/societe/89/logos/milwaukee.png",
    "https://cd-solec.com/storage/societe/116/logos/legrand.png",
    "https://cd-solec.com/storage/societe/117/logos/BTicino-logo.jpg",
    "https://cd-solec.com/storage/societe/118/logos/logo-lyra.png",
    "https://cd-solec.com/storage/societe/119/logos/General_Electric_logo.jpg",
    "https://cd-solec.com/storage/societe/120/logos/appleton.png",
    "https://cd-solec.com/storage/societe/143/logos/ohaus%20logo.png",
    "https://cd-solec.com/storage/societe/144/logos/epelsa%20LOGO.jpg",
    "https://cd-solec.com/storage/societe/163/logos/klein.jpg",
    "https://cd-solec.com/storage/societe/461/logos/wagologo.jpg"
]
---
<div class="max-w-screen-xl mx-auto p-10">

    <section class="bg-center bg-no-repeat w-screen-xl bg-[url('https://www.universal-robots.com/media/1823834/proyectos-de-electro-nica-y-robo-tica.jpg?width=1000')] bg-cover bg-gray-400 bg-blend-multiply">
        <div class="mx-auto max-w-screen-xl text-center py-24">
            <h1 class="mb-4 text-3xl font-extrabold tracking-tight text- leading-none text-white md:text-5xl lg:text-6xl">Distribuimos las marcas <span class="text-green-400 dark:text-green-500"># 1</span></h1>
            <p class="mb-8 text-bold font-normal text-white lg:text-xl sm:px-16 lg:px-48">Ofrecemos una amplia gama de componentes electrónicos de las marcas más reconocidas, garantizando calidad y rendimiento excepcionales para todos tus proyectos.</p>
        </div>
    </section>

</div>


<div class="grid grid-cols-2 md:grid-cols-3 max-w-screen-lg mx-auto gap-4">
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/1/logos/ABB.jpg"
        alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/2/logos/Emerson.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/3/logos/Fuji_Electric.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/4/logos/Mitsubishi_Electric.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/5/logos/Philips.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/6/logos/Phoenix_Contact.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/7/logos/Rockwell_Automation.jpg" alt="">
    </div>
    <div>
        <img class="p-10 max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/119/logos/General_Electric_logo.jpg" alt="asd">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/8/logos/Schneider.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/9/logos/Siemens.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/28/logos/imt.jpeg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/116/logos/legrand.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/117/logos/BTicino-logo.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/89/logos/milwaukee.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full shadow-md rounded-xl hover:scale-110" src="https://cd-solec.com/storage/societe/118/logos/logo-lyra.png" alt="">
    </div>
</div>