---
import Header from "../components/header1.astro";
import Footer from "../components/footer1.astro";
import Terminos from "../components/terminos.astro";
import News from "../components/news-news.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Terminos y Condiciones</title>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
    ></script>
  </head>
  <body>
    <Header />
    <Terminos />
    <News />
    <Footer />
  </body>
</html>
