---
const arr2 = [
  { 
      "name": "Sensores de montaje en placa",
      "image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/4073525.jpg",
      "description" : "Dispositivos utilizados para detectar cambios en el entorno físico, como temperatura, luz o movimiento, y que se instalan directamente en placas de circuito."
    },
    {
      "name": "Capacitores",
      "image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/4313274.jpg",
      "description" : "Componentes eléctricos que almacenan energía en un campo eléctrico, utilizados en circuitos para regular voltajes y mejorar la estabilidad del sistema."
    },
    {
      "name": "Computación",
      "image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/1635003.jpg",
      "description" : "Se refiere a la tecnología y dispositivos relacionados con el procesamiento de información y datos, abarcando desde computadoras hasta software y hardware especializado."
    },
    {
      "name": "Herramientas de desarrollo e ingeniería",
      "image": "https://assets.rs-online.com/f_auto,q_auto,d_no_image.png/mkt/category/2869780.jpg",
      "description" : "Instrumentos y software diseñados para facilitar el diseño, desarrollo y prueba de productos tecnológicos, incluyendo entornos de programación y simuladores."
    }
    ]
---

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-lg px-4 md:px-8">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Blog</h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
    </div>
    <!-- text - end -->

    <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-2 xl:grid-cols-2 xl:gap-8">
      <!-- article - start -->
       
    { arr2.map((e) => (
      <div class="flex flex-col items-center overflow-hidden rounded-lg border md:flex-row">
        <a href="#" class="group relative block h-48 w-full shrink-0 self-start overflow-hidden bg-gray-100 md:h-full md:w-32 lg:w-48">
          <img src={e["image"]} loading="lazy" alt="Photo by Minh Pham" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
        </a>

        <div class="flex flex-col gap-2 p-4 lg:p-6">

          <h2 class="text-xl font-bold text-gray-800">
            <a href="#" class="transition duration-100 hover:text-indigo-500 active:text-indigo-600"> {e["name"]}</a>
          </h2>

          <p class="text-gray-500">{e["description"]}</p>

          <div>
            <a href="#" class="font-semibold text-green-500 transition duration-100 hover:text-green-600 active:text-green-700">Leer mas</a>
          </div>
        </div>
      </div>
      
    ))
  }
      <!-- article - end -->
    </div>
  </div>
</div>